.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 8px 0px;
  padding: 12px clamp(10px, 2.5vw, 20px);
  border-radius: 3px;
  list-style: none;
  overflow-y: hidden;
  cursor: pointer;
  justify-content: space-between;
  margin: 0 auto;
  transition: background-color 0.2;
  &:hover {
    background-color: hsl(0, 0%, 15%);
  }
  &__img {
    border-radius: 3px;
    width: 60px;
    height: 60px;
  }
  &__name {
    font-size: 15px;
    margin: 0px 8px;
    text-align: center;
  }
}
