.xbox {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0px 10px 5px 5px;
  &__name {
    position: absolute;
    font-size: 8px;
    letter-spacing: -1px;
    width: 45px;
    bottom: -12px;
    text-align: center;
  }
}
.platform__icon {
  font-size: 20px;
  margin-right: 5px;
}
