.game {
  display: flex;
  flex-direction: column;
  position: relative;
  filter: drop-shadow(19px 10px 14px rgba(0, 0, 0, 0.2));
  &__top {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    &__imgDiv {
      overflow: hidden;
      filter: drop-shadow(3px 0 0 #ffc105);
      border-radius: 6px 200px 0 0;
      &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 10%;
        transition: transform 1s ease;
        &:hover {
          transform: scale(1.03);
        }
      }
    }

    &__rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      top: 15%;
      right: 0px;
      background: linear-gradient(90deg, #41295a 0%, #2f0743 100%);
      border-radius: 12px;
      &__star {
        color: $-c-yellow;
        margin-left: 7px;
        font-size: 19px;
      }
      &__text {
        font-family: "Roboto", sans-serif;
        font-size: 19px;
        color: $-c-yellow;
        border-radius: 10px;
        padding: 4px 12px 4px 5px;
      }
    }
    &__name {
      position: absolute;
      width: 100%;
      padding-right: 25px;
      font-size: 28px;
      padding-left: 15px;
      bottom: 60px;
      letter-spacing: 1px;
      z-index: 100;
      text-shadow: 2px 2px 1px #1b1a1a;
      font-family: "Voces", cursive;
      &__text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $-c-f-base;
      }
    }
    &__platforms {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      right: 15px;
      flex-wrap: wrap;
      bottom: 3px;
      padding-left: 15px;
      &__platform {
        font-size: 0.9rem;
        border-radius: 6px;
        margin: 1.5px;
        padding: 2px 8px;
        background-color: rgb(61, 23, 23);
      }
    }
  }
  &__bot {
    padding: 20px 40px 0px 15px;
    background-color: #18233d;
    box-shadow: 3px 0px 0px $-c-yellow;
    border-radius: 0px 0px 0px 6px;
    height: 200px;
    &__text {
      font-size: 1.2rem;
      letter-spacing: 0.1px;
      word-spacing: 5px;
      font-family: "Staatliches", cursive;
      color: $-c-f-base;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      text-shadow: 2px 2px 1px #1b1a1a;
    }
  }
}
