.navbar {
  display: flex;
  flex-direction: row;
  background-color: $-c-nav;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 22px 38px rgba(0, 0, 0, 0.25);
  padding: 14px 30px;
  &__logo {
    width: 150px;
  }
  &__searchBox {
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    &__input {
      width: clamp(250px, 50vw, 700px);
      color: $-c-f-base;
      padding-right: 60px;
      height: 50px;
      padding-left: clamp(10px, 2.5vw, 20px);
      background: $-c-inputDark;
      box-shadow: 0px 0px 7px 5px rgba(6, 7, 8, 0.25);
      border-radius: 6px;
      border: 0px;
      font-family: "IBM Plex Mono", monospace;
      font-weight: 400;
      font-size: clamp(19px, 3vw, 23px);
      letter-spacing: -0.005em;
      transition: background-color 0.25s ease;
      z-index: 110;
      &:focus {
        outline: none;
        background-color: #3b3b3b;
      }
    }
    &__icon {
      display: flex;
      position: absolute;
      right: 15px;
      font-size: 33px;
      color: $-c-darkYellow;
      z-index: 120;
    }
    &__results,
    &__results--hidden {
      position: relative;
      width: 100%;
      max-width: 100%;
      flex-direction: column;
      visibility: visible;
      z-index: 100;
      display: flex;
      margin: 0px;
      height: 0px;
      padding: 0px 0px 0px 0px;
      top: -3px;
      ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
      ::-webkit-scrollbar-thumb {
        background: rgb(192, 181, 181);
        width: 2px;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #edeef5;
      }
      ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
        border-radius: 10px;
      }

      &__list {
        list-style: none;
        position: absolute;
        width: 100%;
        max-width: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 10px;
        background-color: $-c-inputDark;
        max-height: 500px;
        overflow: auto;
      }
    }
  }
}
// Mobile //
@media (max-width: 481px) {
  .navbar__searchBox__results {
    display: none;
    visibility: visible;
    transition: 0.2s width linear;
  }
  .navbar {
    padding: 14px 15px;
    &__searchBox {
      display: flex;
      flex-direction: row;
      transition: 0.4s linear;
      position: relative;
      width: 80px;
      height: 100%;
      justify-content: center;
      align-items: center;
      &__results {
        padding-top: 45px;
      }
      &:focus-within {
        position: absolute;
        right: 15px;
        width: calc(100vw - 30px);
        color: $-c-f-base;
        .navbar__searchBox__input {
          color: $-c-f-base;
          width: calc(100vw - 30px);
          padding-right: 65px;
          transition: width 0.4s linear, background-color 0.4s linear,
            color 0.7s;
          &::placeholder {
            color: #999;
            transition: color 0.5s linear;
          }
        }
        .navbar__searchBox__results {
          display: flex;
          visibility: visible;
          transition: 0.2s width linear;
        }
      }

      &__input {
        position: absolute;
        right: 0px;
        display: flex;
        margin: 0px;
        color: $-c-inputDark;
        appearance: none;
        width: 100%;
        transition: width 0.4s linear, background-color 0.4s linear;
        &::placeholder {
          color: $-c-inputDark;
        }
      }
      &__icon {
        position: absolute;
        right: 22px;
        font-size: 35px;
      }
    }
  }
}
