$-c-nav: #171a21; // hsl(222, 18%, 11%)
$-c-base: hsl(240, 29%, 13%); // #18182b

$-c-yellow: hsl(45, 100%, 51%); // #ffc107
$-c-darkYellow: hsl(35, 80%, 69%); // #efba6f

$-c-f-base: hsl(0, 0%, 89%); // #e3e3e3
$-c-inputDark: hsl(0, 0%, 20%); // #333333

$-f-robotoMono: "Roboto Mono", monospace;
$-f-voces: "Voces", cursive;
$-f-staatliches: "Staatliches", cursive;
$-f-ibmPlexMono: "IBM Plex Mono", monospace;
$-f-roboto: "Roboto", sans-serif;
