.fullGame {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
    display: flex;
    font-family: $-f-staatliches;
    font-size: 45px;
    width: 1500px;
    letter-spacing: 0.05em;
    padding-left: 32px;
  }
  &__out {
    display: flex;
    border: 2px solid white;
    position: relative;
    width: 1500px;
    border-radius: 27px;

    &__img {
      display: flex;
      position: absolute;
      border: 2px solid blue;
      z-index: 20;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.1;
      border-radius: 27px;
    }
    &__in {
      padding: 32px 32px 32px 32px;
      display: flex;
      flex-direction: row;
      z-index: 60;
      font-family: $-f-robotoMono;
      &__left {
        display: flex;
        flex-direction: column;
        &__img {
          display: flex;
          width: 295px;
          height: 166px;
          border: 1px solid white;
          border-radius: 15px;
          box-shadow: 0px 0px 38px 12px rgba(0, 0, 0, 0.25);
          margin-bottom: 20px;
        }
        &__rowDiv {
          display: flex;
          justify-content: space-between;
          &__name {
            display: flex;
            width: 215px;
            font-weight: 300;
          }
          &__value {
            display: flex;
            text-align: left;
            width: 100%;
          }
        }
        &__tagsDiv {
          display: flex;
          flex-direction: column;
          &__name {
            display: flex;
            font-weight: 300;
            width: 215px;
          }
          &__values {
            display: flex;
            flex-wrap: wrap;
            &__value {
              display: flex;
              font-size: 12px;
              background-color: #1e1e35;
              padding: 3px 6px;
              margin-right: 5px;
              border: 1px solid rgb(170, 155, 155);
              border-radius: 4px;
              margin-bottom: 5px;
            }
          }
        }
        &__platformsDiv {
          display: flex;
          flex-direction: column;
          &__name {
            display: flex;
            font-weight: 300;
            width: 215px;
          }
          &__value {
            display: flex;
          }
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        &__about {
          display: flex;
          font-weight: 500;
          font-size: 30px;
          padding-bottom: 10px;
        }
        &__desc {
          display: flex;
          letter-spacing: 0.02em;
        }
      }
    }
  }
}
