.fullGame {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0px 10px;

  &__name {
    display: flex;
    font-family: $-f-staatliches;
    font-size: clamp(26px, 6vw, 45px);
    text-align: left;
    letter-spacing: 0.05em;
    padding-left: 32px;
  }
  &__out {
    display: flex;
    border: 2px solid white;
    position: relative;
    border-radius: 27px;

    &__img {
      display: flex;
      position: absolute;
      border: 2px solid blue;
      z-index: 20;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.1;
      border-radius: 27px;
    }
    &__in {
      padding: 32px 32px 32px 32px;
      display: flex;
      flex-direction: row;
      z-index: 60;
      font-family: $-f-robotoMono;
      &__left {
        display: flex;
        flex-direction: column;
        &__img {
          display: flex;
          width: 295px;
          height: 166px;
          border: 1px solid white;
          border-radius: 15px;
          box-shadow: 0px 0px 38px 12px rgba(0, 0, 0, 0.25);
          margin-bottom: 20px;
        }
        &__rowDiv {
          display: flex;
          justify-content: space-between;
          &__name {
            display: flex;
            width: 215px;
            font-weight: 300;
          }
          &__value {
            display: flex;
            text-align: left;
            width: 100%;
          }
        }
        &__tagsDiv {
          display: flex;
          flex-direction: column;
          &__name {
            display: flex;
            font-weight: 300;
            width: 215px;
            padding-bottom: 5px;
          }
          &__values {
            display: flex;
            flex-wrap: wrap;
            &__value {
              display: flex;
              font-size: 12px;
              background-color: #1e1e35;
              padding: 3px 6px;
              margin-right: 5px;
              border: 1px solid rgb(170, 155, 155);
              border-radius: 4px;
              margin-bottom: 5px;
            }
          }
        }
        &__platformsDiv {
          display: flex;
          flex-direction: column;
          &__name {
            display: flex;
            font-weight: 300;
            width: 215px;
          }
          &__value {
            display: flex;
            align-items: center;
          }
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        &__about {
          display: flex;
          font-weight: 500;
          font-size: clamp(20px, 5vw, 30px);
          padding-bottom: 10px;
        }
        &__desc {
          display: flex;
          letter-spacing: 0.02em;
          line-height: 20px;
        }
      }
    }
  }
  &__reviews {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    &__title {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 769px) {
  .fullGame {
    &__out {
      &__in {
        flex-direction: column;
        padding: 20px 30px 20px 30px;
        &__left {
          &__img {
            width: 100%;
            height: clamp(200px, 40vw, 280px);
            object-fit: cover;
          }
        }
        &__right {
          padding-left: 0px;
        }
        &__left {
          &__platformsDiv {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 481px) {
  .fullGame {
    &__name {
      padding-left: 10px;
    }
    &__out {
      &__in {
        flex-direction: column;
        padding: 10px 10px 20px 10px;
        &__left {
          font-size: 14px;
          &__img {
            width: 100%;
            height: clamp(100px, 40vw, 280px);
            object-fit: cover;
          }
          &__rowDiv {
            &__name {
              width: 180px;
            }
          }
          &__tagsDiv {
            &__values {
              &__value {
                font-size: 12px;
                padding: 3px 6px;
              }
            }
          }
        }
        &__right {
          padding-left: 0px;
          &__about {
            display: flex;
            font-weight: 500;
            padding-bottom: 10px;
          }
          &__desc {
            display: flex;
            letter-spacing: 0.01em;
            font-size: 14px;
            padding-right: 2px;
          }
        }
      }
    }
  }
}
