// Fonts
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");
// Variables
@import "./utils/Variables";
// Other SCSS
@import "./components/App";
@import "./components/navbar/Navbar";
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #17172a;
  -webkit-font-smoothing: antialiased;
}
