// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Voces&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");
// Variables
@import "./utils/Variables";
// Other SCSS
@import "./components/App";
@import "./components/navbar/Navbar";
@import "./components/navbar/listItem/ListItem";
@import "./components/game/Game";
@import "./components/fullGameInfo/FullGameInfo";
@import "./components/fullGameInfo/platformToIcon/PlatformToIcon";
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: $-c-base;
  font-family: "Roboto", sans-serif;
  color: $-c-f-base;
}
